<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'hero.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .hero  {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .hero  {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section  id="Hero-{{ section.id }}" class="section hero_mod">
    <div class="hero_bg">
      {{ images['hero_bg.jpg'] | image_url: width: 1920 | image_tag:
        class: 'cover_img'
      }}
    </div>
    <div class="section_in">
        <div class="hero height_mod">
            <div class="decor pos_1_mod size_1_mod v1_mod">
              {{ images['decor_1.png'] | image_url: width: 306 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="decor pos_2_mod size_2_mod v2_mod">
              {{ images['decor_2.png'] | image_url: width: 254 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="decor pos_3_mod size_1_mod v3_mod">
              {{ images['decor_1.png'] | image_url: width: 306 | image_tag:
                class: 'cover_img'
              }}
            </div>
                {%- if section.settings.section_title -%}
                  <h2 class="section_title lg_mod font_mod offset_mod">
                    {{ section.settings.section_title | escape }}
                    <span class="size_in">{{ section.settings.title_strong | escape }}</span>
                    <span class="size_in_2">{{ section.settings.title_litle | escape }}</span>
                    <span>{{ section.settings.title_end | escape }}</span>
                  </h2>
                {%- endif -%}
                {%- if section.settings.text -%}
                  <div class="section_descr center_mod offset_mod">
                    <span>{{ section.settings.text | escape }}</span>
                  </div>
                {%- endif -%}
                {%- if section.settings.button_label -%}
                  <div class="btn_wrap center_mod offset_mod pos_mod">
                    {%- if section.settings.button_label != blank -%}
                      <a class="btn_base">{{ section.settings.button_label | escape }}</a>
                    {%- endif -%}
                    <div class="btn_pointer">Buy This!
                      {{ images['arrow.png'] | image_url: width: 330 | image_tag:
                        class: 'btn_pointer__arrow contain_img'
                      }}
                    </div>

                  </div>
                {%- endif -%}
            <div class="hero_main">
            <div class="hero_img">
              {{ images['hero.png'] | image_url: width: 714 | image_tag:
                class: 'contain_img'
              }}
            </div>
            <div class="hero_text">
                <div class="hero_text_item"><strong>STURDY &</strong> PURDY</div>
                <div class="hero_text_item"><strong>ENDLESSLY</strong> REUSABLE</div>
                <div class="hero_text_item"><strong>FITS EVERY <br>LENS</strong> PERFECTLY</div>
                <div class="hero_text_item"><strong>LIFETIME</strong> GUARANTEE</div>
            </div>
            </div>
            <div class="hero_logo">
              {{ images['logo.png'] | image_url: width: 204 | image_tag:
                class: 'cover_img'
              }}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Don’t E"
    },
    {
      "type": "text",
      "id": "title_strong",
      "label": "Text",
      "default": "F"
    },
    {
      "type": "text",
      "id": "title_litle",
      "label": "Text",
      "default": "F"
    },
    {
      "type": "text",
      "id": "title_end",
      "label": "Text",
      "default": "this up."
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Create awesome content in one shot!"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop If Prompted"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "padding_top",
      "default": 46
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "padding_bottom",
      "default": 100
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Text"
    }
  ]
}
{% endschema %}
