{{ 'ident.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .step {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .step {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section step">
  <div class="section_in">
    <div class="step_w">
      {%- for block in section.blocks -%}
        <div class="step_item_w">
            <div class="step_decor">
              {{ images['step_arrow.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
          <div class="step_item active_mod">
            {%- if block.settings.title != blank -%}
              <div class="step_title_w">
                {%- if block.settings.subtitle != blank -%}
                  <span class="step_value">{{ block.settings.subtitle | escape }}</span>
                {%- endif -%}
                <h2 class="step_title">{{ block.settings.title | escape }}</h2>
              </div>
            {%- endif -%}
            {%- if block.settings.image != blank -%}
              <div class="img_w">
                {{ block.settings.image | image_url: width: 380 | image_tag:
                  loading: 'lazy',
                  widths: '275, 550, 710, 1420',
                  class: 'cover_img'
                }}
              </div>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
            <div class="step_item_descr">{{ block.settings.text }}</div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Ident Column",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Jot It Down!",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "text",
          "id": "subtitle",
          "default": "Step 1:",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Using dry-erase markers, jot down prompts to keep you focused on the most important details of your content.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ident Column",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
