{{ 'what-they-said.css' | asset_url | stylesheet_tag }}

<section class="section">
  <div class="section_in">
    <div class="section_subtitle">TRUST YOUR FRIENDS</div>
    <div class="section_title offset_1_mod">What They Said...</div>
    <div class="what_they_said_container_w">
      <ul class="what_they_said_w mobileSlider masonGrid">
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['1.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Zanna Ollove, Boston College</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['2.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Zanna Ollove, Boston College</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['3.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Nelson Nigel</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date_icon">
                <svg class="icon icon-facebook_logo ">
                  <use xlink:href="i/sprite/sprite.svg#facebook_logo"></use>
                </svg>
              </div>
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['4.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Zanna Ollove, Boston College</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['1.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Zanna Ollove, Boston College</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['2.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Zanna Ollove, Boston College</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['3.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Nelson Nigel</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date_icon">
                <svg class="icon icon-facebook_logo ">
                  <use xlink:href="i/sprite/sprite.svg#facebook_logo"></use>
                </svg>
              </div>
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
        <li class="wts_item_wrap">
          <div class="wts_item">
            <div class="wts_photo_wrap">
              {{ images['4.png'] | image_url: width: 80 | image_tag:
                class: 'cover_img'
              }}
            </div>
            <div class="wts_item_name">Zanna Ollove, Boston College</div>
            <div class="wts_item_stars_w">
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="wts_item_stars_item">
                <svg class="icon icon-star size_mod">
                  <use xlink:href="i/sprite/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
            <div class="wts_item_descrip">Know with confidence the impact of Proof Pulse on your goals with A/B testing and a beautiful dashboard showing your conversion analytics.</div>
            <div class="wts_item_date_w">
              <div class="wts_item_date">5 months ago</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "What They Said",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "padding_bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Step 1:",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "What They Said",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}